<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Библиотеки" data-toc-modified-id="Библиотеки-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Библиотеки</a></span></li><li><span><a href="#Создание" data-toc-modified-id="Создание-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Создание</a></span><ul class="toc-item"><li><span><a href="#из-списка" data-toc-modified-id="из-списка-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>из списка</a></span></li><li><span><a href="#из-словаря" data-toc-modified-id="из-словаря-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>из словаря</a></span></li><li><span><a href="#при-помощи-функций" data-toc-modified-id="при-помощи-функций-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>при помощи функций</a></span></li><li><span><a href="#из-файла" data-toc-modified-id="из-файла-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span><a href="http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-tools-text-csv-hdf5" target="_blank">из файла</a></a></span></li></ul></li><li><span><a href="#Свойства" data-toc-modified-id="Свойства-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Свойства</a></span><ul class="toc-item"><li><span><a href="#создаем-Series-для-примеров" data-toc-modified-id="создаем-Series-для-примеров-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>создаем Series для примеров</a></span></li><li><span><a href="#тип-данных" data-toc-modified-id="тип-данных-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>тип данных</a></span></li><li><span><a href="#количество-элементов" data-toc-modified-id="количество-элементов-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>количество элементов</a></span></li><li><span><a href="#количество-уникальных-элементов" data-toc-modified-id="количество-уникальных-элементов-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>количество уникальных элементов</a></span></li><li><span><a href="#индекс-и-значения" data-toc-modified-id="индекс-и-значения-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>индекс и значения</a></span></li><li><span><a href="#присвоение-/-изменения-имени" data-toc-modified-id="присвоение-/-изменения-имени-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>присвоение / изменения имени</a></span><ul class="toc-item"><li><span><a href="#name-объекта-Series" data-toc-modified-id="name-объекта-Series-3.6.1"><span class="toc-item-num">3.6.1&nbsp;&nbsp;</span>name объекта Series</a></span></li><li><span><a href="#индекса" data-toc-modified-id="индекса-3.6.2"><span class="toc-item-num">3.6.2&nbsp;&nbsp;</span>индекса</a></span></li><li><span><a href="#столбца" data-toc-modified-id="столбца-3.6.3"><span class="toc-item-num">3.6.3&nbsp;&nbsp;</span>столбца</a></span></li></ul></li></ul></li><li><span><a href="#Вывод-значений" data-toc-modified-id="Вывод-значений-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Вывод значений</a></span></li></ul></div>

## Библиотеки

In [3]:
import numpy as np
import pandas as pd

## Создание

### из списка

создаем Series значений из списка целых чисел

In [4]:
s = pd.Series(data=[10, 11, 12, 13, 14],
             index=[1, 2, 3, 5, 7])
s

1    10
2    11
3    12
5    13
7    14
dtype: int64

In [5]:
s = pd.Series(data=[10, 11, 12, 13, 14])
s

0    10
1    11
2    12
3    13
4    14
dtype: int64

создаем Series из строковых значений

In [6]:
s = pd.Series(['Blue', 'Yellow', 'Green'])
s

0      Blue
1    Yellow
2     Green
dtype: object

In [7]:
l = [[1, 2]]
s = pd.Series(l*5)
s

0    [1, 2]
1    [1, 2]
2    [1, 2]
3    [1, 2]
4    [1, 2]
dtype: object

создаем DataFrame  из двумерного списка

In [8]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]])
df

    0   1
0  10  11
1  20  21
2  30  31

In [9]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]],
                 columns=['A', 'B'])
df

    A   B
0  10  11
1  20  21
2  30  31

создаем DataFrame для списка объектов Series

In [10]:
series_1 = pd.Series([70, 90])
series_2 = pd.Series([71, 91])
df = pd.DataFrame([series_1, series_2])
df

    0   1
0  70  90
1  71  91

задаем имена столбцов после создания DataFrame

In [11]:
df.columns = ['col_1', 'col_2']
df

   col_1  col_2
0     70     90
1     71     91

### из словаря

создаем объект Series из словаря, при этом посмотрим, как изменились индексы

In [12]:
s = pd.Series({'Homer': 'Dad',
               'Marge': 'Mom',
               'Bart': 'Son',
               'Lisa': 'Daughter',
               'Maggie': 'Daughter'
})
s

Homer          Dad
Marge          Mom
Bart           Son
Lisa      Daughter
Maggie    Daughter
dtype: object

создаем DataFrame с помощью Python словаря

In [13]:
list_1 = [70, 71]
list_2 = [90, 91]
temperatures = {'col_1': list_1,
                'col_2': list_2
}
pd.DataFrame(temperatures)

   col_1  col_2
0     70     90
1     71     91

создание DataFrame с помощью словаря, состоящего из объектов Series

In [14]:
series_1 = pd.Series([70, 71])
series_2 = pd.Series([90, 91])
temperatures = {'col_1': series_1,
                'col_2': series_2
}
pd.DataFrame(temperatures)

   col_1  col_2
0     70     90
1     71     91

### при помощи функций

создание Series, используя np.arange - последовательность чисел от **start** до **stop-1** с шагом **step**:
```python 
np.arange(start, stop, step) 
```

In [16]:
s = pd.Series(np.arange(15, 25, 2))
s

0    15
1    17
2    19
3    21
4    23
dtype: int32

создаем Series из 5 значений, равномерно разбивающих отрезок от 0 до 9

In [18]:
s = pd.Series(np.linspace(0, 9, 5))
s

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

Генерация случайных чисел.

Зафиксируем значение seed, что позволит нам в будущем воспроизводить свои результаты.

Создадим объект Series из 5 нормально распределенных случайных чисел

In [20]:
np.random.seed(123)
s = pd.Series(np.random.normal(size=5))
s

0   -1.085631
1    0.997345
2    0.282978
3   -1.506295
4   -0.578600
dtype: float64

Создадим объект DataFrame размерности 4х3 из случайных чисел

In [21]:
np.random.seed(123)
df = pd.DataFrame(np.random.normal(size=12).reshape(4, 3),
                 index=['ind_1', 'ind_2', 'ind_3', 'ind_4'],
                 columns=['col_1', 'col_2', 'col_3'])
df

          col_1     col_2     col_3
ind_1 -1.085631  0.997345  0.282978
ind_2 -1.506295 -0.578600  1.651437
ind_3 -2.426679 -0.428913  1.265936
ind_4 -0.866740 -0.678886 -0.094709

### [из файла](http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-tools-text-csv-hdf5)

In [24]:
pd.read_csv("Python And Data Analysis/data/sp500.csv",
           sep=';')

    Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0    MMM,3M Co.,Industrials,141.14,2.12,20.33,6.90,...
1    ABT,Abbott Laboratories,Health Care,39.60,1.82...
2    ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,...
3    ACN,Accenture,Information Technology,79.79,2.3...
4    ACE,ACE Limited,Financials,102.91,2.21,10.00,1...
..                                                 ...
495  YHOO,Yahoo Inc.,Information Technology,35.02,,...
496  YUM,Yum! Brands Inc,Consumer Discretionary,74....
497  ZMH,Zimmer Holdings,Health Care,101.84,0.81,22...
498  ZION,Zions Bancorp,Financials,28.43,0.56,18.82...
499  ZTS,Zoetis Inc,Health Care,30.53,0.90,29.22,1....

[500 rows x 1 columns]

разделитель

In [28]:
pd.read_csv(filepath_or_buffer="Python And Data Analysis/data/sp500.csv",
           sep=',')

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.1210,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,ABT,Abbott Laboratories,Health Care,39.60,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.3590,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,2.570,2.954,40.10,54.78,85.784,7.1900,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ACN,Accenture,Information Technology,79.79,2.34,19.53,4.068,8.326,69.00,85.88,50.513,4.4230,1.75,9.54,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACE,ACE Limited,Financials,102.91,2.21,10.00,10.293,86.897,84.73,104.07,34.753,4.2750,1.79,1.18,http://www.sec.gov/cgi-bin/browse-edgar?action...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,YHOO,Yahoo Inc.,Information Technology,35.02,NaN,28.94,1.199,12.768,23.82,41.72,35.258,0.8873,7.48,2.72,http://www.sec.gov/cgi-bin/browse-edgar?action...
496,YUM,Yum! Brands Inc,Consumer Discretionary,74.77,1.93,29.86,2.507,5.147,64.08,79.70,33.002,2.8640,2.49,14.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
497,ZMH,Zimmer Holdings,Health Care,101.84,0.81,22.92,4.441,37.181,74.55,108.33,17.091,1.6890,3.68,2.74,http://www.sec.gov/cgi-bin/browse-edgar?action...
498,ZION,Zions Bancorp,Financials,28.43,0.56,18.82,1.511,30.191,26.39,33.33,5.257,0.0000,2.49,0.94,http://www.sec.gov/cgi-bin/browse-edgar?action...
499,ZTS,Zoetis Inc,Health Care,30.53,0.90,29.22,1.038,2.150,28.14,34.28,15.296,1.2920,3.33,14.11,http://www.sec.gov/cgi-bin/browse-edgar?action...

количество строк

In [29]:
pd.read_csv("Python And Data Analysis/data/sp500.csv",
           nrows=3)

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.121,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,ABT,Abbott Laboratories,Health Care,39.60,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.359,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,2.570,2.954,40.10,54.78,85.784,7.190,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...

столбцы

In [31]:
pd.read_csv("Python And Data Analysis/data/sp500.csv",
           nrows=3,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'])

  Symbol       Sector   Price  Book Value
0    MMM  Industrials  141.14      26.668
1    ABT  Health Care   39.60      15.573
2   ABBV  Health Care   53.95       2.954

индекс

In [32]:
pd.read_csv("Python And Data Analysis/data/sp500.csv",
           nrows=3,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
           index_col='Symbol')

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

итератор

In [38]:
df_chank = pd.read_csv("Python And Data Analysis/data/sp500.csv",
            chunksize=50,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'])

In [39]:
for df_tmp in df_chank:
    print('DataFrame part:', df_tmp.shape)

DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)

In [40]:
sp500 = pd.read_csv("Python And Data Analysis/data/sp500.csv",
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
           index_col='Symbol')
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

## Свойства

### создаем Series для примеров

In [41]:
Simpsons = pd.Series({
    'Homer': 120,
    'Marge': 60,
    'Bart': 35,
    'Lisa': 30,
    'Maggie': 7
})
Simpsons

Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
dtype: int64

In [42]:
np.random.seed(123)
numbers = pd.Series(data=np.random.normal(size=10),
                   index=np.arange(25, 35))
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

### тип данных

In [43]:
Simpsons.dtype

dtype('int64')

In [44]:
sp500.dtypes

Sector         object
Price         float64
Book Value    float64
dtype: object

### количество элементов

Series:

In [45]:
print('Первый способ:', len(Simpsons))
print('Второй способ:', Simpsons.size)
print('Третий способ:', Simpsons.shape)

Первый способ: 5
Второй способ: 5
Третий способ: (5,)

DataFrame:

In [46]:
print('Первый способ:', len(sp500))
print('Второй способ:', sp500.size)
print('Третий способ:', sp500.shape)

Первый способ: 500
Второй способ: 1500
Третий способ: (500, 3)

### количество уникальных элементов

In [47]:
Simpsons.nunique()

5

In [48]:
sp500.nunique()

Sector         13
Price         495
Book Value    495
dtype: int64

### индекс и значения

Series:

In [49]:
Simpsons.index

Index(['Homer', 'Marge', 'Bart', 'Lisa', 'Maggie'], dtype='object')

In [50]:
Simpsons.values

array([120,  60,  35,  30,   7], dtype=int64)

DataFrame:

In [51]:
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [52]:
sp500.values

array([['Industrials', 141.14, 26.668],
       ['Health Care', 39.6, 15.573],
       ['Health Care', 53.95, 2.954],
       ...,
       ['Health Care', 101.84, 37.181],
       ['Financials', 28.43, 30.191],
       ['Health Care', 30.53, 2.15]], dtype=object)

In [53]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

### присвоение / изменения имени

#### name объекта Series

In [54]:
Simpsons.name = 'Simpsons weight'
Simpsons

Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

#### индекса

In [55]:
Simpsons.index.name = 'First name'
Simpsons

First name
Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

#### столбца

In [56]:
sp500_copy = sp500.rename(columns={'Book Value': 'BookValue'})

Проверяем, не изменились ли имена столбцов в исходном DataFrame

In [57]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [58]:
sp500_copy.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

этот программный код переименовывает столбец на месте

In [59]:
sp500_copy.rename(columns={'Book Value': 'BookValue'},
                 inplace=True)

смотрим, изменилось ли имя столбца

In [60]:
sp500_copy.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

## Вывод значений